<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd   
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd   
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">



<!--
    <bean id="dataServiceI" class="com.dimensionality.service.impl.DataServiceImpl" />

    <bean id="washDataServiceImpl" class="com.dimensionality.service.impl.WashDataServiceImpl"    />
    <bean id="basePushAnalysisDataJobConsumer" class="com.dimensionality.strategy.BasePushAnalysisDataJobConsumer"   init-method="getqCellCoreMap" />

    <bean id="tianChUniqueMobilePhoneOperator" class="com.dimensionality.util.json.TianChUniqueMobilePhoneOperator"/>
    <bean id="juXinLiUniqueMobilePhoneOperator" class="com.dimensionality.util.json.JuXinLiUniqueMobilePhoneOperator"/>
    <bean id="lianTMobilePhoneOperator" class="com.dimensionality.util.json.LianTMobilePhoneOperator"/>
    <bean id="yidMobilePhoneOperator" class="com.dimensionality.util.json.YidMobilePhoneOperator"/>
    <bean id="dianXMobilePhoneOperator" class="com.dimensionality.util.json.DianXMobilePhoneOperator"/>-->

</beans>